body {
	margin: 0;
	padding: 0;
	background: #E5E6DD;
	/*font-family: 'Oxygen', sans-serif;*/
	font-family: "Serif", Georgia, Serif ,'Oxygen', sans-serif;
	font-size: 13px;
/*	color: #52524F;*/
	/*color: #8A8985; */
	background-color: #F1F2E9;
}

h1, h2, h3 {
	padding: 0;
	font-weight: 300;
	color: #7D7764;
}

h1 {
	font-size: 2em;
	/*padding-right: 100px;*/
}

h2 {
	font-size: 2.8em;
}

h3 {
	margin: 30px 0px 0px 0px;
	padding: 0px;
	font-size: 1.6em;
	text-transform: uppercase;
}
h5 {
	margin: 10px 0px 0px -10px;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 20px;
	color: #7D7764;
}
p, ul, ol {
	margin-top: 0;
	line-height: 150%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #50957b;
}


a:hover {
	color: #244237;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}

img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}


#wrapper {
	overflow: hidden;
	background: #F1F2E9;
	margin-bottom: 10px;
}

.container {
	width: 1200px;
	margin: 0px auto;
	font-size: 18px;
}

#page-wrapper {
	background: #FFFFFF;
	width: 1300px;
	margin: 10px auto;
	border-radius: 50px;
}
/* Header */

#header-wrapper {
	overflow: hidden;
	height: 600px;
}

#header {
	width: 960px;
	height: 200px;
	margin: 0 auto;
	padding: 0px 20px;
}

/* Banner */

#banner {
	overflow: hidden;
	height: 400px;
	background: url(images/img04.jpg) no-repeat center bottom;
}

#banner .image-style {
	border: 15px solid #F4F4F4;
}



/* Intro */

#intro {
	height: 280px;
}



#intro h1 {
	text-align: center;
	color: #616161;
	margin: 0px 0px 5px 0px;
	padding: 0px 10px 0px 0px;
	letter-spacing: -6px;
	text-transform: capitalize;
	font-size: 70px;
}

#intro p {
	margin: 25px 10px 0px 366px;
    width: 750px;
	font-size: 16px;
	color: #696969;
	text-align: center;
}

#intro .icon {
    width:35pt;
}
#menu .icon {
    width:33pt;
}
/* Splash */

#splash {
	overflow: hidden;
	padding: 0px 0px 50px 0px;
	border-bottom: 1px dashed #E7E2DC;
	letter-spacing: -3px;
	text-align: center;
	font-size: 48px;
}

#splash span {
	color: #313131;
}

/* Search */

#search {
	float: right;
	width: 280px;
	height: 60px;
	padding: 20px 0px 0px 0px;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: 1px solid #DEDEDE;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}

#search-submit {
	width: 50px;
	height: 22px;
	border: none;
	background: #B9B9B9;
	color: #000000;
}

/* Menu */

#menu-wrapper {
	overflow: hidden;
	height: 52px;
	margin-bottom: 2em;
	background: #000000;
}

#menu {
	overflow: hidden;
	height: 52px;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	padding: 0px 30px;
	line-height: 52px;
	border: none;
	text-decoration: none;
	text-transform: lowercase;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #FFFFFF;
}

#menu .a_icon {
	display: block;
	padding: -30px -30px;
	line-height: 52px;
	border: none;
	text-decoration: none;
	text-transform: lowercase;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #FFFFFF;
}
#menu a:hover, #menu .current_page_item a {
	background: #0F00DB;
	text-decoration: none;
	color: #FFFFFF;
}

#menu .current_page_item a {
}

/* Page */

#page {
	overflow: hidden;
	padding: 20px 20px 40px 20px;
}

/* Content */

#content {
	float: left;
	width: 752px;
	padding: 0px 0px 0px 0px;
}

.post {
	overflow: hidden;
}

.post .title {
        margin: 0px 0px 30px 0px;
	padding: 0px 0px 10px 0px;
	border-bottom: 3px solid #E0E1D6;
	text-shadow: 1px 1px 0px #FFFFFF;
	font-size: 26px;
	color: #373737;
}

.post .title a {
	border: none;
	color: #373737;
}

.post .meta {
	margin-bottom: 30px;
	padding: 0px;
	text-align: left;
	font-size: 16px;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	padding-top: 20px;
	margin-bottom: 30px;
}

.more {
	display: block;
	float: left;
	width: 88px;
	height: 25px;
	padding: 2px 0px 0px 0px;
	margin-right: 10px;
	background: url(images/img08.jpg) no-repeat left top;
	text-align: center;
	color: #FFFFFF;
}

.comments {
	display: block;
	float: left;
	width: 88px;
	height: 25px;
	padding: 2px 0px 0px 0px;
	background: url(images/img08.jpg) no-repeat left top;
	text-align: center;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 384px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	color: #787878;
}

#sidebar h2 {
	margin: 0px 0px 30px 0px;
	padding: 0px 0px 10px 0px;
	border-bottom: 3px solid #E0E1D6;
	text-shadow: 1px 1px 0px #FFFFFF;
	font-size: 26px;
	color: #373737;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Three Column Footer Content */

#footer-bg {
	overflow: hidden;
	padding: 70px 0px;
	/*background: #3C342E;*/
	background: #F1F2E9;
	border-top: 10px solid #E5E6DD;
}

#footer-content {
}

#footer-content h2 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	/*border-bottom: 2px solid #DE5635;*/
	background-color: #F1F2E9;
	font-size: 22px;
	color: #FFFFFF;
}

#column1 {
	float: left;
	width: 384px;
	margin-right: 20px;
}

#column2 {
	float: left;
	width: 384px;
}

#column3 {
	float: right;
	width: 384px;
}

/* Footer */

#footer {
	height: 100px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
	background-color: #F1F2E9;
}

#footer p {
	margin: 0;
	padding-top: 10px;
	line-height: normal;
	text-align: center;
	text-shadow: 1px 1px 0px #FFFFFF;
	/*color: #909090;*/
	background-color: #F1F2E9;
}

#footer a {
	text-decoration: underline;
	background-color: #F1F2E9;
}

#footer a:hover {
	text-decoration: none;
	background-color: #F1F2E9;
}

.box1 {
	overflow: hidden;
	height: 300px;
	background: url(images/img04.jpg) no-repeat center bottom;
}

.list-style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.list-style1 li {
	padding: 7px 0px 7px 0px;
	border-top: 1px dashed #E7E2DC;
}

.list-style1 .first {
	padding-top: 0px;
	border-top: none;
}

.list-style2 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.list-style2 li {
	padding: 7px 0px 7px 0px;
}

.list-style2 a {
	color: #8A8985;
}

.list-style2 a:hover {
	text-decoration: underline;
}

.list-style2 .first {
	padding-top: 0px;
	border-top: none;
	background: none;
}

/* Banner */

#banner {
	overflow: hidden;
	height: 450px;
	background: url(images/img04.png) no-repeat center bottom;
}

/* One Column Content */
#one-column {
	overflow: hidden;
	padding: 10px 0px 50px 0px;
}

#one-column .tbox1 {
	float: middle;
	width: 2000px;
}
#one-column .tbox2 {
	float: middle;
	width: 2000px;
}

/*Two Column*/
#two-column {
	overflow: hidden;
	padding: 20px 0px 0px 0px;
	background-color: 
}

#two-column .tbox1 {
	float: left;
	width: 580px;
	/*margin-right: 20px;*/
}

#two-column .tbox2 {
	float: right;
	width: 600px;
}

/* Three Column Content */

#three-column {
	overflow: hidden;
	padding: 20px 0px 0px 0px;
	background-color: 
}

#three-column .tbox1 {
	float: left;
	width: 384px;
	margin-right: 20px;
}

#three-column .tbox2 {
	float: left;
	width: 384px;
}

#three-column .tbox3 {
	float: right;
	width: 384px;
}

.box-style {
	background: #FFFFFF;
	/*text-align: center;*/
}

.box-style01
{
	border-radius: 10px;
	font-size: 15px;
}
.box-style h2 {
	padding: 0px 0px;
	letter-spacing: -1px;
	font-size: 22px;
	color: #2D2D2D;
}

.box-style .image {
	width: 150px;
	height: 150px;

	float: left;
	margin: 2px 9px 0px 0px;
}
/*.box-style .image_span_page {
	width: 2000px;
}
*/
.box-style .arrow {
}
/*.box-style .p {
	align-content: left;
}*/
.box-style .content {
	overflow: hidden;
	width: 324px;
	padding: 30px;
}


.box-style02
{
	/*Two column mode box style*/
	background: #FFFFFF;
	text-align: center;
	border-radius: 10px;
	font-size: 15px;
}
/*.box-style02 img {
	width: 250px;
	float: left;
	margin: 15px 0px 0px 0px;
}*/

.box-style02 .image {
	width: 290px;
	/*height: 200px;*/
	float: left;
	margin: 15px 0px 0px 0px;
}

.box-style02 .image2 {
	width: 150px;
	/*height: 200px;*/
	float: left;
	margin: 15px 0px 0px 0px;
}

.box-style02 h2 {
	margin: 5px 0px 0px 0px;
	letter-spacing: -1px;
	font-size: 22px;
	/*float: right;*/
	float: right;
	clear: left;
	color: #2D2D2D;
}

.box-style02 .h2 {
	margin: 5px 50px 0px 0px;
	letter-spacing: -1px;
	font-size: 22px;
	/*float: right;*/
	/*float: left;
	clear: left;*/
	color: #2D2D2D;
}
.box-style02 .content {
	overflow: hidden;
	width: 500px;
	padding: 5px;
	vertical-align: middle;
}
.box-style02 p {
	overflow: hidden;
	vertical-align: middle;
	width: 200px;
	float: right;
	margin: 0px 0px 0px 0px;
	
	/*vertical-align: middle right;*/
}

.box-style02 .p1 {
	overflow: hidden;
	vertical-align: middle;
	width: 200px;
	float: right;
	margin: 0px 0px 0px 0px;
}
.box-style02 .p2 {
	overflow: hidden;
	vertical-align: middle;
	width: 300px;
	float: right;
	margin: 0px 0px 0px 0px;
}

.divider {
	overflow: hidden;
	height: 50px;
	background: url(images/img04.png) no-repeat center top;
}

.button
{
	display: inline-block;
	margin: 1em 0em;
	background: #cccccc;
	padding: 1em 0.5em;
	color: #333333;
}

.button2
{
	margin: 0em 0em;
	background: #001;
	padding: 1em 2em;
	color: #FFFFFF;
}

.pic {
    width: 150px;
 	float: left;
    /*align-items: left;*/
    background-color:#F1F2E9; 
    margin: 10px
}
.project {
    width: 97%;
	float: right;
    font-family: "Oxygen";
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 10px;
	background-color: #FFFFFF;
	border-radius:10px;
    margin-top: 25px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}
.sourcelinks{
	margin-top: 0px;
    margin-bottom: -5px;
}
.project h1 {
    font-weight: 900;
    font-size: 1.1em;
	margin-top: 20px;
    margin-bottom: 5px;
}

.project h2 {
    font-weight: 500;
    font-size: 1.05em;
    margin-bottom: -1px;
}

.project h3 {
    font-weight: 250;
    font-size: .9em;
}

.project li{
	font-size: 16px;
	color: #696969;
}

.ctitle{
	text-align: center;
}
